In [3]:
%%bash

unzip playground-series-s3e12.zip

Archive:  playground-series-s3e12.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [5]:
import pandas as pd

train = pd.read_csv('train.csv', index_col='id')
train

     gravity    ph  osmo  cond  urea  calc  target
id
0      1.013  6.19   443  14.8   124  1.45       0
1      1.025  5.40   703  23.6   394  4.18       0
2      1.009  6.13   371  24.5   159  9.04       0
3      1.021  4.91   442  20.8   398  6.63       1
4      1.021  5.53   874  17.8   385  2.21       1
..       ...   ...   ...   ...   ...   ...     ...
409    1.011  5.21   527  21.4    75  1.53       0
410    1.024  5.53   577  19.7   224  0.77       0
411    1.018  6.28   455  22.2   270  7.68       1
412    1.008  7.12   325  12.6    75  1.03       1
413    1.011  6.13   364   9.9   159  0.27       0

[414 rows x 7 columns]

In [7]:
test=pd.read_csv('test.csv', index_col='id')
test

     gravity    ph  osmo  cond  urea   calc
id
414    1.017  5.24   345  11.5   152   1.16
415    1.020  5.68   874  29.0   385   3.46
416    1.024  5.36   698  19.5   354  13.00
417    1.020  5.33   668  25.3   252   3.46
418    1.011  5.87   567  29.0   457   2.36
..       ...   ...   ...   ...   ...    ...
685    1.029  6.27   853  21.4   364   7.31
686    1.012  5.62   410  14.0   195   1.45
687    1.031  5.68   874  29.0   380   4.49
688    1.019  5.47   543  21.4   170   1.64
689    1.017  6.19   698  29.0   252   3.53

[276 rows x 6 columns]

In [18]:
X_test=test[features].copy()
X_test

     gravity    ph  osmo  cond  urea   calc
id
414    1.017  5.24   345  11.5   152   1.16
415    1.020  5.68   874  29.0   385   3.46
416    1.024  5.36   698  19.5   354  13.00
417    1.020  5.33   668  25.3   252   3.46
418    1.011  5.87   567  29.0   457   2.36
..       ...   ...   ...   ...   ...    ...
685    1.029  6.27   853  21.4   364   7.31
686    1.012  5.62   410  14.0   195   1.45
687    1.031  5.68   874  29.0   380   4.49
688    1.019  5.47   543  21.4   170   1.64
689    1.017  6.19   698  29.0   252   3.53

[276 rows x 6 columns]

In [8]:
features = ['gravity','ph','osmo','cond','urea','calc']
X = train[features].copy()
X

     gravity    ph  osmo  cond  urea  calc
id
0      1.013  6.19   443  14.8   124  1.45
1      1.025  5.40   703  23.6   394  4.18
2      1.009  6.13   371  24.5   159  9.04
3      1.021  4.91   442  20.8   398  6.63
4      1.021  5.53   874  17.8   385  2.21
..       ...   ...   ...   ...   ...   ...
409    1.011  5.21   527  21.4    75  1.53
410    1.024  5.53   577  19.7   224  0.77
411    1.018  6.28   455  22.2   270  7.68
412    1.008  7.12   325  12.6    75  1.03
413    1.011  6.13   364   9.9   159  0.27

[414 rows x 6 columns]

In [14]:
y = train['target'].copy()
y

id
0      0
1      0
2      0
3      1
4      1
      ..
409    0
410    0
411    1
412    1
413    0
Name: target, Length: 414, dtype: int64

In [12]:
X.shape

(414, 6)

In [15]:
y.shape

(414,)

In [10]:
%%bash

pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages (0.24.1)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp36-cp36m-manylinux2010_x86_64.whl (22.2 MB)
Requirement already satisfied: joblib>=0.11 in /home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages (from scikit-learn) (1.5.4)
Requirement already satisfied: numpy>=1.13.3 in /home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ec2-user/anaconda3/envs/amazonei_tensorflow2_p36/lib/python3.6/site-packages (from scikit-learn) (2.1.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.1
    Uninstalling scikit-learn-0.24.1:
      Successfully uninstalled scikit-learn-0.24.1
Successfully installed scikit-learn-0.24.2

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.8, test_size=0.2, random_state=0)

In [17]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=200,criterion='mae',random_state=0)

In [21]:
from sklearn.metrics import mean_absolute_error
model.fit(X,y)

pred_test = model.predict(X_test)

output = pd.DataFrame({
'id':X_test.index,
'target':pred_test
})

output.to_csv('submission.csv', index=False)